main, #main, .main {
  height: 100vh; }

section {
  height: 100%; }

.relative {
  position: relative; }

.no-space {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

.container-1429 {
  width: 100%;
  max-width: 1429px; }

.valign-middle {
  vertical-align: middle; }

.bg-general {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center; }
  .bg-general.bg-large {
    padding-bottom: 38%; }
  @media (min-width: 1200px) {
    .bg-general {
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-position: center; }
      .bg-general.bg-lg__max-contain {
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        background-position-x: 75%; } }

.nowrap-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.shift-up {
  position: relative;
  margin-top: -6%;
  z-index: 11; }

.title-overlay--mult {
  background: rgba(0, 175, 241, 0.45);
  background-blend-mode: multiply; }
  .lt-ie9 .title-overlay--mult {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7300AFF1', endColorstr='#7300AFF1')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7300AFF1', endColorstr='#7300AFF1');
    zoom: 1; }

/* -------------------------------- 
 Icons 
-------------------------------- */
.icon-lnk {
  display: block;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .icon-lnk img {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .icon-lnk .icon {
    font-size: 100px; }
    @media (min-width: 1200px) {
      .icon-lnk .icon {
        font-size: 90px; } }
  .icon-lnk:hover img {
    opacity: 0.75; }
    .lt-ie9 .icon-lnk:hover img {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.75)";
      filter: alpha(opacity=75); }
  .icon-lnk:hover .icon {
    color: #f59dbb; }

.icon-abs-center {
  position: absolute;
  width: 60%;
  height: 200px;
  line-height: 90px;
  font-size: 120px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 99998; }

/*  Gallery Simple */
.gallery-simple figcaption {
  margin-top: 10px;
  min-height: 125px; }
.gallery-simple.max-height-95 figcaption {
  min-height: 60px;
  max-height: 60px; }
@media (min-width: 768px) {
  .gallery-simple .slick-prev,
  .gallery-simple .slick-next {
    top: 30%; } }
@media (min-width: 1200px) {
  .gallery-simple .slick-prev {
    left: -40px; } }
@media (min-width: 1200px) {
  .gallery-simple .slick-next {
    right: -40px; } }

/* Remodal (Modal plugin - Simple & SuperLight) */
.remodal {
  background: transparent;
  max-width: 70% !important;
  padding: 0 !important;
  height: 70% !important; }
  .remodal.remodal-text {
    background: #fff;
    padding: 3% 2% !important;
    height: auto !important; }
    @media (min-width: 1200px) {
      .remodal.remodal-text {
        max-width: 55% !important; } }
  .remodal iframe {
    /*width:560px;
    height:315px;*/
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 50px;
    display: block; }

.remodal-close {
  left: 100%; }
  .remodal-text .remodal-close {
    left: 96%; }
  .remodal-close:before {
    font-size: 40px;
    line-height: 40px; }
  .remodal-close:hover {
    color: #ff000a; }

/*
 * Misc
 */
.container-fluid, .row, [class*="col-"] {
  height: 100%; }

.cal-table-wrapper {
  height: 100%;
  overflow-x: auto; }
  .cal-table-wrapper .arrows {
    width: 1086px;
    overflow: auto; }
    .cal-table-wrapper .arrows h1, .cal-table-wrapper .arrows h2, .cal-table-wrapper .arrows h3, .cal-table-wrapper .arrows h4, .cal-table-wrapper .arrows h5, .cal-table-wrapper .arrows h6 {
      margin: 0; }
  .cal-table-wrapper table {
    border-color: #fff; }
    .cal-table-wrapper table thead th {
      text-align: center;
      vertical-align: middle;
      width: 26px;
      height: 28px;
      padding: 0 3px 0 3px;
      background-color: #197c99;
      color: #fff;
      text-align: center; }
      .cal-table-wrapper table thead th select {
        background-color: #197c99; }
        .cal-table-wrapper table thead th select option {
          color: #2b2c2f;
          background-color: #fff; }
      .cal-table-wrapper table thead th .dropdown {
        display: inline-block; }
        .cal-table-wrapper table thead th .dropdown button {
          background-color: #197c99; }
        .cal-table-wrapper table thead th .dropdown .btn {
          line-height: 0.8;
          border-radius: 0;
          padding: 8px 15px; }
    .cal-table-wrapper table thead .side-caption {
      text-align: center;
      vertical-align: middle;
      width: 280px;
      height: auto;
      background-color: transparent; }
    .cal-table-wrapper table tbody td {
      text-align: center;
      vertical-align: middle;
      width: 26px;
      height: 28px;
      padding: 0 3px 0 3px;
      background-color: #2ed95b;
      color: #fff; }
      .cal-table-wrapper table tbody td .info-box {
        position: relative;
        display: block;
        width: 100%;
        height: 100%; }
      .cal-table-wrapper table tbody td .popover {
        color: #2b2c2f;
        font-size: 13px;
        line-height: 1.45;
        text-align: right;
        max-width: none;
        white-space: nowrap;
        overflow: visible; }
      .cal-table-wrapper table tbody td.status {
        cursor: pointer; }
      .cal-table-wrapper table tbody td.red {
        background-color: #ff1d23; }
      .cal-table-wrapper table tbody td.black-dot {
        background-image: url("../images/black-dot.png"); }
      .cal-table-wrapper table tbody td.red-black-dot {
        background-color: transparent;
        background-image: url("../images/red-black-dot.gif"); }
      .cal-table-wrapper table tbody td.red-white-red {
        background-color: transparent;
        background-image: url("../images/red-white-red.gif"); }
      .cal-table-wrapper table tbody td.red-white-red-blackdot {
        background-color: transparent;
        background-image: url("../images/red-white-red-blackdot.gif"); }
      .cal-table-wrapper table tbody td.red-white-green {
        background-color: transparent;
        background-image: url("../images/red-white-green.gif"); }
      .cal-table-wrapper table tbody td.green-white-red {
        background-color: transparent;
        background-image: url("../images/green-white-red.gif"); }
    .cal-table-wrapper table tbody .side-caption {
      text-align: center;
      vertical-align: middle;
      width: 280px;
      height: auto;
      background-color: transparent;
      color: #2b2c2f;
      font-size: 14px; }
    .cal-table-wrapper table tbody .hor-line {
      background-color: transparent; }
      .cal-table-wrapper table tbody .hor-line.top hr {
        margin-top: 10px;
        margin-bottom: 10px; }
