//
// Dividers
// --------------------------------------------------


// Hr
// --------------------------------------------------

.hr {
  height: $hr-height;
  padding: $hr-padding;
  margin-top: $hr-offset-top;
  //margin-bottom: $hr-offset-bottom;
  //background: $gray-lighter;
  border: none;
}

.hr-dashed {
  height: $hr-dashed-height;
  border-bottom: $hr-dashed-border-bottom;
  background-color: $hr-dashed-background;
}

.hr-gradient {
  //@include divider-gradient($white, $gray);
}

.hr-fullwidth {
  width: 100%;
}
.hr-gray {
  border-top: 1px solid #f5f5f5;
}

.hr-sidebar {
  width: 49px;
}

// Text Subline
// --------------------------------------------------

.text-subline {
  position: relative;
  height: $text-subline-height;
  padding: $text-subline-padding;
  background: $text-subline-background;
  border: none;

  &:before {
    content: '';
    position: absolute;
    top: $text-subline-before-position-top;
    left: $text-subline-before-position-left;
    height: $text-subline-before-height;
    width: $text-subline-before-width;
    background: $text-subline-before-background;
  }
}

.text-subline-variant-2 {
  position: relative;
  height: $text-subline-height;
  padding: $text-subline-padding;
  background: $text-subline-background;
  border: none;
}


// Divider
// --------------------------------------------------

// Base Styles

.divider {
  width: $divider-width;
  height: $divider-height;
  padding: $divider-padding;
  margin: $divider-offsets;
  background: $divider-background;
  border: none;
}

.divider-vertical {
  width: $divider-vertical-width;
  height: $divider-vertical-height;
  background: $divider-vertical-background;
}

// Sizing

.divider-xs {
  width: $divider-xs-width;
  height: $divider-xs-height;
}

.divider-sm {
  width: $divider-sm-width;
  height: 2px;
}

.divider-lg {
  width: $divider-lg-width;
  height: $divider-lg-height;
}

// custom

.divider-custom {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);


  @media (min-width: $screen-xs-min) {
    @include justify-content(space-between);
    p{
      width: 100%;
    }
    div{
      width: 95%;
    }
  }

  &:before,
  &:after {
    @media (min-width: $screen-xs-min) {
      content: "";
      display: inline-block;
      border-top: 1px solid $gray-lighter;
      width: 20%;
    }
    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
    @media (min-width: $screen-lg-min) {
      width: 100%;
    }
  }
}

.divider-custom-small-primary{
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  &:before,
  &:after{
    content: "";
    display: inline-block;
    border-top: 2px solid $brand-primary;
    width: 44px;
    margin: 0 7px;
  }
}