//
// Custom form styles
// --------------------------------------------------

.rd-mailform {
  position: relative;

  .btn {
    border-radius: $border-radius-xl;
  }
}

// Normalize non-controls
// --------------------------------------------------

label {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  z-index: 3;
}

// Common form controls
// --------------------------------------------------

.input-sm,
.input-lg,
.form-control {
  font-size: $input-font-size;

  &, &:focus {
    box-shadow: none;
  }
}

textarea.form-control {
  height: $textarea-default-height;
  min-height: $textarea-default-min-height;
  max-height: $textarea-default-max-height;
  resize: vertical;
  border-radius: 0;
}

.form-control {
  -webkit-appearance: none;
  line-height: $input-height-base/2;
  padding: $padding-base-vertical - 3px 18px $padding-base-vertical;

  &:focus {
    outline: 0;
  }
}

// Form groups
// -------------------------

.form-group {
  position: relative;
}

// Form labels
// -------------------------

.form-label {
  position: absolute;
  top: 25px;
  left: $padding-base-horizontal;
  font-size: $input-font-size;
  color: $input-color-placeholder;
  pointer-events: none;
  z-index: 9;
  transition: .3s;
  @include transform(translateY(-50%));

  &.focus {
    opacity: 0;
  }

  &.auto-fill {
    color: $input-color;
  }
}

.form-label-outside {

  position: static;
  padding-left: 18px;
  &, &.focus, &.auto-fill {
    @include transform(none);
    color: $input-color-placeholder;
    font-size: $input-font-size;
    opacity: 1;
  }

}

// Form validation
// -------------------------
.form-validation {
  position: absolute;
  right: 13px;
  top: 35px;
  font-size: 11px;
  line-height: 11px;
  color: $brand-danger;
  margin-top: 2px;
  transition: .3s;
  z-index: 11;
}

.form-validation-left {
  .form-validation {
    right: auto;
    top: 100%;
    left: 0;
  }
}

// Error Styling
//
.has-error {
  @include form-control-validation-custom($state-danger-text, $state-danger-bg, $state-danger-bg);
}

// Success Styling
//
.has-success {
  @include form-control-validation-custom($state-success-text, $state-success-bg, $state-success-bg);
}

// Warning Styling
//
.has-warning {
  @include form-control-validation-custom($state-warning-text, $state-warning-bg, $state-warning-bg);
}

// Info Styling
//
.has-info {
  @include form-control-validation-custom($state-info-text, $state-info-bg, $state-info-bg);
}

// Form output
// -------------------------

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  visibility: hidden;
  @include transform(translateX(-500px));
  transition: .3s all ease;
  z-index: 9999999;

  &.active {
    @include transform(translateX(0));
    visibility: visible;
  }

  @media (min-width: $screen-xs) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.error {
    color: $brand-danger;
  }
  &.success {
    color: $brand-success;
  }
}

// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;

  &, &-dummy {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: -20px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
  }

  &-dummy {
    pointer-events: none;
    background: $gray-lighter;
    box-shadow: inset $shadow-area-xxs;

    &:after {
      position: absolute;
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  .radio-custom-dummy {
    border-radius: 50%;

    &:after {
      content: '';
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: $gray-darker;
      border-radius: 50%;
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  padding-left: 20px;
  .checkbox-custom-dummy {
    pointer-events: none;
    border-radius: $border-radius-small;
    margin-left: 0;
    left: 0;

    &:after {
      content: '\e5ca';
      font-family: 'Material Icons';
      font-size: 20px;
      line-height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      color: $gray-darker;
    }
  }
}

//subscribe
.form-subscribe {
  text-align: center;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-xs-min) {
    @include display-flex;
    @include align-items(stretch);
    .form-group {
      width: 100%;
      margin-bottom: 0;
    }
    .btn {
      margin-left: 13px;
    }
  }

  .btn {
    min-width: 152px;
  }
  .form-control {
    height: 100%;
    min-height: 50px;
  }
  .form-validation {
    top: 3px;
  }
}

//form inline
@media (min-width: $screen-xs-min) {
  .form-inline-flex {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-content(stretch);
    @include align-items(flex-end);
    @include flex-wrap(nowrap);

    .form-group {
      width: 100%;
      margin-bottom: 0;

      & + .form-group {
        margin-left: 20px;
      }
    }
    .btn {
      margin-top: 0;
    }
  }
}

.form-bg-transparent {
  .form-control {
    background-color: transparent;
    border-color: $gray-light;
  }
}

.form-box-shadow {
  .form-control {
    background-color: transparent;
    border-color: transparent;
    box-shadow: $shadow-area-xs;
  }
}

//search
//----------------------------------

.form-search.rd-search {
  position: relative;
  .form-control {
    border: 1px solid $gray-lightest;
    padding-right: 60px;
    color: $gray-base;
    background-color: transparent;
  }
  .form-label {
    left: 20px;
    top: 25px;
    color: $gray-base;
    text-transform: none;
    font-size: 15px;
  }
}

.form-search-submit {
  position: absolute;
  font-size: $form-search-btn-size;
  right: 20px;
  top: 0;
  bottom: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  color: $form-search-btn-color;
  transition: .3s all ease;
  &:hover, &:focus {
    color: $form-search-btn-focus-color;
    outline: none;
  }
}

//register forms
//-----------------

.form-register {
  .form-label{
    padding-left: 0;
  }
}

//forms comment
//---------------------

.form-comment {
  textarea.form-control {
    height: 155px;
    min-height: 155px;
    max-height: 200px;
  }
}