@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/proximanova/proxima_nova_bold.eot");
  src: url("../fonts/proximanova/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proximanova/proxima_nova_bold.woff") format("woff"), url("../fonts/proximanova/proxima_nova_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/proximanova/proxima_nova_semibold.eot");
  src: url("../fonts/proximanova/proxima_nova_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proxima_nova_semibold.woff2") format("woff2"), url("../fonts/proximanova/proxima_nova_semibold.woff") format("woff"), url("../fonts/proximanova/proxima_nova_semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/proximanova/proxima_nova_regular.eot");
  src: url("../fonts/proximanova/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proxima_nova_regular.woff2") format("woff2"), url("../fonts/proximanova/proxima_nova_regular.woff") format("woff"), url("../fonts/proximanova/proxima_nova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_futura_neubook';
  src: url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.eot");
  src: url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.eot?#iefix") format("embedded-opentype"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.woff2") format("woff2"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.woff") format("woff"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_futura_neumedium';
  src: url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.eot");
  src: url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.eot?#iefix") format("embedded-opentype"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.woff2") format("woff2"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.woff") format("woff"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_futura_neubook';
  src: url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.eot");
  src: url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.eot?#iefix") format("embedded-opentype"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.woff2") format("woff2"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.woff") format("woff"), url("../fonts/pffuturaneu/pffuturaneubook_regular-pls.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_futura_neumedium';
  src: url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.eot");
  src: url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.eot?#iefix") format("embedded-opentype"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.woff2") format("woff2"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.woff") format("woff"), url("../fonts/pffuturaneu/pffuturaneumedium_regular-pls.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=fonts.css.map */
